<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/investorprofile.css" />
    <title>Investor Profile</title>
  </head>
  <body>
    <!-- logged in as <%=type%> <br> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">UF</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link " aria-current="page" href="/startuptb">StartUps</a>
            <a class="nav-link" href="/investortb">Investors</a>
            <a class="nav-link-logout" href="/">Logout</a>
            <img  class="navbar-img" src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="image N/A">
            
            <a class="nav-link" href="/profile<%=type%>"><%= profile%></a>
          </div>
        </div>
      </div>
    </nav>
    <h1>Investor Profile</h1>
    <div class="main">
      <ul>
        <li><strong>Name:</strong> <%=name%></li>
        <li><strong>Email:</strong> <%=email%></li>
        <li><strong>Investment Type:</strong> <%=it%></li>
        <li><strong>Industry Preference:</strong> <%=ip%></li>
        <li><strong>Stage of Development:</strong> <%=sod%></li>
        <li><strong>Minimum Investment Amount:</strong> <%=mia%></li>
        <li><strong>Phone Number:</strong> <%=pno%></li>
        <li>
          <strong>LinkedIn Profile:</strong>
          <a href="<%=lin%>"
            ><%=lin%></a
          >
        </li>
        <li><strong>Accredited Investor:</strong> <%=acc%></li>
        <li><strong>Disclosure of Conflicts of Interest:</strong><%=con%></li>
      </ul>
      <a href="/updateprofileinvestor">Update Profile</a>
    </div>
  </body>
</html>
