<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/startupreg.css">
    <title>Startup Update Profile</title>
</head>
<body>
    <div class="main">

        <form action="/updateprofile/startup" method="post">
            <label for="name">Startup Name:</label>
            <input type="text" id="name" name="name" required value="<%=name%>">
          
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required value="<%=email%>">
          
            <label for="industry">Industry:</label>
            <select id="industry" name="industry">
              <option value="Technology">Technology</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Finance">Finance</option>
              <option value="Energy">Energy</option>
            </select>
          
            <label for="stage">Stage of Development:</label>
            <select id="stage" name="stage">
              <option value="Ideation">Ideation</option>
              <option value="Prototype">Prototype</option>
              <option value="Launch">Launch</option>
              <option value="Growth">Growth</option>
            </select>
          
            <label for="funding">Funding Amount:</label>
            <select id="funding" name="funding">
              <option value="10000">$10,000</option>
              <option value="50000">$50,000</option>
              <option value="100000">$100,000</option>
              <option value="500000">$500,000</option>
            </select>
          
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="<%=loc%>">
          
            <label for="pitch">Pitch:</label>
            <textarea id="pitch" name="pitch"><%=ptc%></textarea>
          
            <label for="linkedin">LinkedIn Profile:</label>
            <input type="text" id="linkedin" name="linkedin" value="<%=lin%>">
          
            <label for="website">Website:</label>
            <input type="url" id="website" name="website" value="<%=web%>">
          
            <label for="team-size">Team Size:</label>
            <select id="team-size" name="teamsize">
              <option value="1-5">1-5</option>
              <option value="6-10">6-10</option>
              <option value="11-20">11-20</option>
              <option value="20+">20+</option>
            </select>
          
            <input type="submit" value="Update">
          </form>
    </div>
      
</body>
</html>
